Repository cygni/paintbot-webclient: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests, prettier --write

Favicon and title
  public/favicon.ico
  public/index.html
  public/manifest.json
Due: prettier --write

Update Config.ts
  src/Config.ts
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Started replacing konva with canvas
  src/game/gameboard/GameBoardContainer.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

New GameBoardState
  src/game/GameDirector.tsx
  src/game/gameboard/GameBoardContainer.tsx
  src/game/type.ts
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Update ReadMeScreen.tsx
  src/readme/ReadMeScreen.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

adding cloudfront distribution
  infrastructure/cloudfront.tf
  infrastructure/main.tf
Due: none

Switch to proper backend url and use https/wss
  package.json
  src/Config.ts
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests, prettier --write

Updated package-lock.json
  package-lock.json
Due: prettier --write

Stop doing terraform on each deploy
  .circleci/config.yml
Due: prettier --write

Update config.yml
  .circleci/config.yml
Due: prettier --write

Allow searching for old games
  src/Routes.tsx
  src/common/ui/Header.tsx
  src/search/SearchScreen.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Show score and who's moving up in tournament
  src/player/PlayerScreen.tsx
  src/tournament/contr/GamePlan.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Regroup tiles and render cute characters (wip)
  src/game/GameContainer.tsx
  src/game/GameDirector.tsx
  src/game/gameboard/GameBoardContainer.tsx
  src/game/type.ts
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Query url for searching games
  src/Routes.tsx
  src/common/API.tsx
  src/common/ui/Loading.tsx
  src/common/ui/PlayerLink.tsx
  src/player/PlayerScreen.tsx
  src/search/GameList.tsx
  src/search/SearchScreen.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Remove redundant deps array
  src/search/SearchScreen.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Initial search only once
  src/search/SearchScreen.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Cleanup of search form
  src/search/SearchScreen.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Minor cleanup
  src/search/SearchScreen.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

add link for go client
  src/readme/ReadMeScreen.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Added link to C# client
  src/readme/ReadMeScreen.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Add link to JavaScript client
  src/readme/ReadMeScreen.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Remove react-konva
  README.md
  package-lock.json
  package.json
  src/game/gameboard/gameobject/PlayerCharacter.tsx
  src/game/gameboard/gameobject/PowerUpObject.tsx
  src/game/gameboard/tile/ColouredTile.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests, prettier --write

Run npm audit fix
  package-lock.json
Due: prettier --write

Fix all vulnerabilities
  .eslintrc.js
  .lintstagedrc
  .prettierignore
  .vscode/extension.json
  .vscode/settings.json
  package-lock.json
  package.json
  public/robots.txt
  src/common/ui/DefaultText.tsx
  src/common/ui/Loading.tsx
  src/common/ui/Slider.tsx
  src/game/GameDirector.tsx
  src/game/gameboard/tile/ColouredTile.tsx
  src/game/scoreboard/ScoreBoardEntry.tsx
  src/game/scoreboard/__tests__/ScoreBoardTest.tsx
  src/react-app-env.d.ts
  src/registerServiceWorker.ts
  src/setupTests.ts
  tsconfig.json
  tslint.json
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests, prettier --write

Add env files
  .env
  .env.development
  src/Config.ts
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Use 'Short Stack' font for better readability
  public/index.html
  src/common/ui/DefaultButton.tsx
  src/common/ui/Header.tsx
  src/common/ui/Heading.tsx
  src/common/ui/Paper.tsx
  src/common/ui/TemplatePage.tsx
  src/game/scoreboard/ScoreBoardEntry.tsx
  src/game/timer/TimerPane.tsx
  src/index.css
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Switch background image for background color
  src/common/ui/TemplatePage.tsx
  src/game/gameboard/tile/ColouredTile.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Shorten names in navbar
  src/about/AboutScreen.tsx
  src/common/ui/Header.tsx
  src/game/GameContainer.tsx
  src/readme/ReadMeScreen.tsx
  src/search/SearchScreen.tsx
  src/welcome/WelcomeScreen.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Make navbar accessible
  package-lock.json
  package.json
  src/common/ui/Header.tsx
  src/index.css
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests, prettier --write

Add skip link
  package-lock.json
  package.json
  src/common/ui/Header.tsx
  src/common/ui/TemplatePage.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests, prettier --write

Make logo svg
  public/index.html
  src/common/ui/Header.tsx
  src/resources/images/logo.svg
  src/resources/images/yellow_character.png
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Remove unused background image
  src/resources/background.jpg
Due: none

Add shadow to comic images and refactor
  src/welcome/WelcomeScreen.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Path conditions:
  tslint --project tsconfig.json --format stylish --fix: any of: **/*.{js,jsx,ts,tsx}
  react-scripts test --passWithNoTests --findRelatedTests: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{md,yml,json}
