Repository cygni/paintbot-webclient: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests, prettier --write

Refactor to simple button called DefaultButton
  src/common/ui/DefaultButton.tsx
  src/game/gamespeed/PlayControllButton.tsx
  src/welcome/WelcomeScreen.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Feature/svg experiment (#31)
  src/common/ui/Slider.tsx
  src/game/GameContainer.tsx
  src/game/gameboard/GameBoardContainer.tsx
  src/game/gameboard/tile/ColouredTile.tsx
  src/game/gameboard/tile/StandardTile.tsx
  src/welcome/WelcomeScreen.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Add CircleCI config
  .circleci/config.yml
  package.json
Due: prettier --write

Fix lint errors
  src/game/GameDirector.tsx
  src/game/gamespeed/GameController.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Add build job to CircleCI
  .circleci/config.yml
Due: prettier --write

Add placeholder deploy job
  .circleci/config.yml
Due: prettier --write

Add tslint-plugin-prettier
  package.json
  src/game/gameboard/tile/ColouredTile.tsx
  tslint.json
  yarn.lock
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests, prettier --write

Remove sample banner in CircleCI config
  .circleci/config.yml
Due: prettier --write

Add yarn cache fallback
  .circleci/config.yml
Due: prettier --write

Upgrade dependencies
  package.json
  yarn.lock
Due: prettier --write

Start implementing deploy step
  .circleci/config.yml
Due: prettier --write

Deploy to S3 bucket with Terraform and AWS CLI
  .circleci/config.yml
  .gitignore
  infrastructure/main.tf
  infrastructure/outputs.tf
  infrastructure/variables.tf
  src/Routes.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests, prettier --write

Only deploy on master and develop
  .circleci/config.yml
Due: prettier --write

Allow viewing of a specific game by id
  public/images/star.png
  src/Config.ts
  src/Routes.tsx
  src/game/GameDirector.tsx
  src/game/GameScreen.tsx
  src/game/gameboard/GameBoardFactory.ts
  yarn.lock
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Some styling to score
  src/game/scoreboard/ScoreBoardContainer.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Add fixes for TS 3.2 and recent @types/react
  package.json
  src/Routes.tsx
  src/index.tsx
  yarn.lock
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests, prettier --write

Move @types/react-router-dom to devDeps
  package.json
Due: prettier --write

white canvas on wooden desk with sticky note score tracking
  public/index.html
  src/App.tsx
  src/common/Constants.ts
  src/game/gameboard/GameBoardContainer.tsx
  src/game/gamespeed/GameController.tsx
  src/game/scoreboard/ScoreBoardContainer.tsx
  src/game/scoreboard/ScoreBoardEntry.tsx
  src/resources/background.jpg
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Score text is black or white depending on color of bot
  package.json
  src/game/scoreboard/ScoreBoardEntry.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests, prettier --write

Fix score board width
  src/game/scoreboard/ScoreBoardContainer.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Fancy blobs with sense of direction
  src/game/gameboard/gameobject/PlayerCharacter.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Visual indication whenever blob has a power up
  src/game/gameboard/GameBoardContainer.tsx
  src/game/gameboard/GameBoardFactory.ts
  src/game/gameboard/gameobject/PlayerCharacter.tsx
  src/game/type.ts
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Visualizing stunned effect
  src/game/gameboard/GameBoardContainer.tsx
  src/game/gameboard/GameBoardFactory.ts
  src/game/gameboard/gameobject/PlayerCharacter.tsx
  src/game/type.ts
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Add idea to gitignore. Update deps
  .gitignore
  yarn.lock
Due: none

Correct .idea/ ignore
  .gitignore
Due: none

Add type for GameScreen
  src/game/GameScreen.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Rename bomb to power up / explosion
  README.md
  package.json
  src/game/gameboard/GameBoardContainer.tsx
  src/game/gameboard/GameBoardFactory.ts
  src/game/gameboard/gameobject/PlayerCharacter.tsx
  src/game/gameboard/gameobject/PowerUpObject.tsx
  src/game/type.ts
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests, prettier --write

Move global body styles to stylesheet
  src/App.tsx
  src/index.css
  src/index.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Enforce styled-components/macro
  src/common/ui/DefaultButton.tsx
  src/common/ui/Slider.tsx
  src/game/GameContainer.tsx
  src/game/GameScreen.tsx
  src/game/gameboard/GameBoardContainer.tsx
  src/game/gamespeed/GameController.tsx
  src/game/graphics-brainstorm/Blob.tsx
  src/game/graphics-brainstorm/Paint.tsx
  src/game/scoreboard/ScoreBoardContainer.tsx
  src/game/scoreboard/ScoreBoardEntry.tsx
  src/game/timer/TimerPane.tsx
  src/welcome/WelcomeScreen.tsx
  tslint.json
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests, prettier --write

Ignore invalid prop types
  src/Routes.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Refactor DefaultButton
  src/common/ui/DefaultButton.tsx
  src/welcome/WelcomeScreen.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Refactor Row
  src/common/ui/Row.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Refactor Indent and Spacing
  src/common/ui/Indent.tsx
  src/common/ui/Spacing.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Make Slider controlled and use hooks in GameController
  src/common/ui/Slider.tsx
  src/game/GameContainer.tsx
  src/game/GameDirector.tsx
  src/game/gamespeed/GameController.tsx
  src/game/gamespeed/PlayControlButton.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

wip
  src/game/GameDirector.tsx
  src/game/GameDirectorOld.tsx
  tslint.json
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests, prettier --write

Set starting speed to default value
  src/game/gamespeed/GameController.tsx
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

wip
  src/common/utils.ts
  src/game/GameDirector.tsx
  src/game/types.ts
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests

Switch to NPM and fix audit warnings
  .circleci/config.yml
  .gitignore
  .npmrc
  package-lock.json
  package.json
  src/Routes.tsx
  yarn.lock
Due: tslint --project tsconfig.json --format stylish --fix, react-scripts test --passWithNoTests --findRelatedTests, prettier --write

Path conditions:
  tslint --project tsconfig.json --format stylish --fix: any of: **/*.{js,jsx,ts,tsx}
  react-scripts test --passWithNoTests --findRelatedTests: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{md,yml,json}
